
.row {
    display: flex;
    height: 60px;
    width: 220px;
    box-sizing: border-box;
}

.cell {
    border: 1px solid #ccc;
    flex: 0 0 33.333333%;
    padding: 20px 10px 10px 10px;
    box-sizing: border-box;
    margin-left: -1px;
    margin-top: -1px;
    font-size: 20px;
}

.cell:hover {
    background-color: #f6f6f6;
}

.center {
    display: inline-block
}


.nextMove {
    padding: 15px;
}

.x, .X {
    color: #007399;
    font-weight: 800;
}

.o, .O {
    color: #ff4d4d;
    font-weight: 800;
}

.results {
    color: #007399;
    margin-bottom: 10px;
}

.header {
    border: 1px dashed #007399;
    margin-bottom: 40px;
}