
.row {
    display: flex;
    height: 60px;
    width: 220px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.cell {
    border: 1px solid #ccc;
    flex: 0 0 33.333333%;
    padding: 15px 10px 10px 10px;
    box-sizing: border-box;
}

.center {
    display: inline-block
}


.nextMove {
    padding: 15px;
}

.x {
    color: blue;
    font-weight: 800;
}

.o {
    color: red;
    font-weight: 800;
}